<form method="post" action="update">
    <label>Name<br>
        <input type="text" name="nm" value="">
    </label><br>
    <p>Genre</p>
    <label>
        <input type="radio" name="genre" value="Rock" checked> Rock and Roll
    </label>
    <br>
    <label>
        <input type="radio" name="genre" value="Hip-Hop" > Hip-Hop
    </label>
    <br>
    <label>
        <input type="radio" name="genre" value="Salsa" > Salsa
    </label>
    <br>
    <input type="hidden" name="id" value="0">
    <input type="submit" value="post">
</form>
