{% extends "layout.html" %}
{% block content %}
<form method="post" action="create">
    <label>Name<br>
        <input type="text" name="nm">
    </label><br>
    <p>Genre</p>
    <label>
        <input type="radio" name="genre" value="Rock"> Rock and Roll
    </label>
    <br>
    <label>
        <input type="radio" name="genre" value="Hip-Hop"> Hip-Hop
    </label>
    <br>
    <label>
        <input type="radio" name="genre" value="Salsa"> Salsa
    </label>
    <br>
    <input type="submit" value="post">
</form>
{% endblock %}